# Node
node_modules
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
.prisma/

# Database
*.db
*.db-journal

# Environment files (safety)
.env
.env.*
.env.local
.env.production
.env.development

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
